{{> privateNav}}
<div class="container mx-auto py-6">

    <div class="container flex justify-center my-2">
        <div class="card bg-light mb-3 content-center shadow sm:shadow-md md:shadow-lg lg:shadow-xl xl:shadow-2xl">
            <div class="row no-gutters">
                <div class="col-md-4 my-auto ml-4" style="max-width: 170px;">
                    <a href={{image}}><img src={{image}} class="card-img" style="max-width: 170px;"
                            alt="{{title}} image"></a>
                </div>

                <div class="col-md-8">
                    <div class="card-body ml-4">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text text-wrap">{{synopsis}}</p>
                        <div class="text-sm text-right">
                            <p class="text-gray-900 leading-none">Format: {{type}}</p>
                            <p class="text-gray-600">Release Date: {{release}}, Episodes: {{episodes}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container mx-auto py-6 rounded-md">
        <div class="row-auto rounded-md">
            <form id="comment" class="grid bg-opacity-75 bg-gray-200 p-6" action="/titles/{{id}}" method="POST">
                <div class="px-6 py-4">
                    <div class="font-bold text-2xl mb-2">Comment Section</div>
                    <p class="text-gray-700 text-base">

                    </p>
                    <textarea name="userComment" placeholder="Please, add your comment here..."
                        class="bg-gray-100 userText rounded-md border leading-normal resize-none w-full h-20 py-2 px-3 shadow-inner border border-gray-400 font-medium placeholder-gray-700 focus:outline-none focus:bg-white">{{#if review}}{{review}}{{/if}}</textarea>
                </div>
                {{!-- dropdown menu --}}

                <div class="px-6 py-4">
                    <div class="inline-block">
                        <h5 class="pb-2"><b>Watch Status</b></h5>
                        <div class="inline-block relative w-64">

                            <select name="status"
                                class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                {{!-- <option  value=" ">Watch Status</option> --}}
                                <option disabled selected value> -- select an option -- </option>
                                <option {{#ifEquals watchStatus "watched"}}selected{{/ifEquals}} value="watched">Watched
                                </option>
                                <option {{#ifEquals watchStatus "watching"}}selected{{/ifEquals}} value="watching">
                                    Watching
                                </option>
                                <option {{#ifEquals watchStatus "unwatched"}}selected{{/ifEquals}} value="unwatched">Not
                                    Watched</option>
                                <option {{#ifEquals watchStatus "abandoned"}}selected{{/ifEquals}} value="abandoned">
                                    Abandoned</option>
                            </select>
                            <div
                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="inline-block">
                        <h5 class="pb-2"><b>Rating</b></h5>
                        <div class="inline-block relative w-64">

                            <select name="rating"
                                class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                <option disabled selected value> -- select an option -- </option>
                                <option {{#ifEquals rating "Bad"}}selected{{/ifEquals}} value="Bad">Bad</option>
                                <option {{#ifEquals rating "OK"}}selected{{/ifEquals}} value="OK">it's OK</option>
                                <option {{#ifEquals rating "Great"}}selected{{/ifEquals}} value="Great">Great</option>
                            </select>
                            <div
                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <span class="inline-block px-3 py-1 text-sm font-semibold text-gray-700">
                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Save
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    body {
        background-image: URL("https://i.imgur.com/7guumMk.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<script type="text/javascript" src="/js/comments.js"></script>