<div class="flex w-full mb-3 shadow sm:shadow-md md:shadow-lg lg:shadow-xl xl:shadow-2xl">
    <div class="w-2/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
        <a href="/titles/{{apiID}}">{{title}}</a>
    </div>
    <div class="w-1/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
        {{rating}}
    </div>
    <div class="w-1/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
        {{watchStatus}}
    </div>
    <div class="w-2/6 bg-gray-200 text-gray-700 px-4 py-2 text-xl">
        {{review}}
    </div>
</div>